<footer class="footer s-bg-color   ">

<div class="container">
<div class="row justify-content-center">



  <a class="brand  col-md-6 mb-sm-2" href="" ><img src="assets/nav2.png" alt="" /></a>


      <div class="form-check form-switch d-flex align-items-center justify-content-center mb-sm-2  p-0 col-md-6 "  >
        <label class="form-check-label  m-color pointer" for="flexSwitchCheckDefault"
          >Dark Mode</label
        >
        <input
          class="form-check-input me-2 pointer"
          (click)="changeTheme()"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
        />
      </div>

</div>

</div>
</footer>
