<div class="row px-lg-5 g-4 ">
  <div class="col-md-4 col-sm-6">
    <div class="card bg-white p-2 text-center rounded-4 shadoww m-color">
<h4 >الفجر</h4>
<h2 class="my-3">{{salahTimes?.Fajr}}</h2>
<h4>Fajr</h4>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="card bg-white p-2 text-center rounded-4 shadoww m-color">
<h4 >الشروق</h4>
<h2 class="my-3">{{salahTimes?.Sunrise}}</h2>
<h4>shurooq</h4>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="card bg-white p-2 text-center rounded-4 shadoww m-color">
<h4 >الظهر</h4>
<h2 class="my-3">{{salahTimes?.Dhuhr}}</h2>
<h4>dhuhr</h4>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="card bg-white p-2 text-center rounded-4 shadoww m-color">
<h4 >العصر</h4>
<h2 class="my-3">{{salahTimes?.Asr}}</h2>
<h4>Asr</h4>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="card bg-white p-2 text-center rounded-4 shadoww m-color">
<h4 >المغرب</h4>
<h2 class="my-3">{{salahTimes?.Maghrib
}}</h2>
<h4>Maghrib
</h4>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="card bg-white p-2 text-center rounded-4 shadoww m-color">
<h4 >العشاء</h4>
<h2 class="my-3">{{salahTimes?.Isha}}</h2>
<h4>Isha</h4>
    </div>
  </div>
</div>
