
   <div class="row g-4 px-lg-5">

    <div *ngFor="let zekr of arbeen" class="col-xl-4 col-md-6 " >

    <div class="s-bg-color d-flex flex-column justify-content-between h-100  text-center  p-4 rounded-4 pointer" (click)="zekr.repeat>0 ? zekr.repeat=zekr.repeat -1:''">
    <h6 class="m-color">{{zekr.name}}</h6>
      <p class="m-color m-0 fw-semibold title">{{ zekr.value }}</p>


      <div>
        <hr>
       <div
         class="circle mt-auto rounded-circle  s-color mx-auto d-flex justify-content-center align-items-center"  [ngClass]="zekr.repeat>0?'not-active-bg-color':'m-bg-color'"
       >
       <span *ngIf="zekr.repeat>0"> {{zekr.repeat}}</span>
       <i *ngIf="zekr.repeat==0" class="fa-solid fa-check"></i>
       </div>

       <p class="m-0 mt-2 ">عدد التكرارات </p>


     </div>
    </div>
      </div>
    </div>

