<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand mx-5 py-2" routerLink="pray"
      ><img src="assets/Group 24.png" class="logo" alt=""
    /></a>
    <button
      class="navbar-toggler d-lg-none mx-2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul
        class="navbar-nav ms-auto mt-2 mt-lg-0 mx-5 d-flex justify-content-between w-50"
      >
        <li class="nav-item">
          <a
            class="nav-link active fw-semibold d-flex flex-column align-items-center "
            routerLink="pray"
            routerLinkActive="m-color"
            aria-current="page"
            ><i class="fa-solid fa-mosque fa-2x"></i>
            <span>مواقيت الصلاة</span>
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link active fw-semibold d-flex flex-column align-items-center "
            routerLink="azkar"
            routerLinkActive="m-color"
            aria-current="page"
            ><i class="fa-solid fa-hands-holding fa-2x"></i>
            <span>الأذكار</span>
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link active fw-semibold d-flex flex-column align-items-center "
            routerLink="arbeen"
            routerLinkActive="m-color"
            aria-current="page"
            ><i class="fa-solid fa-person-praying fa-2x"></i
            ><span>الأربعين النووية </span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
