<div class="container" >
  <nav class="navbar navbar-expand-md navbar-light s-bg-color">
    <a class="navbar-brand mx-5 py-2" routerLink="pray"
      ><img src="assets/Group 24.png" class="logo" alt=""
    /></a>
    <button
      class="navbar-toggler d-lg-none mx-3  m-color border-mainColor"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class=" m-color"> <i class="fas fa-bars fa-1x"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul
        class="navbar-nav me-auto mt-2 mt-lg-0 mx-5 d-flex justify-content-between "
      >
        <li class="nav-item mx-3">
          <a
            class="nav-link active fw-semibold d-flex flex-column align-items-center justify-content-center "
            routerLink="pray"
            routerLinkActive="m-color"
            aria-current="page"
            ><i class="fa-solid fa-mosque fa-2x"></i>
            <span>مواقيت الصلاة</span>
          </a>
        </li>

        <li class="nav-item mx-3">
          <a
            class="nav-link active fw-semibold d-flex flex-column align-items-center justify-content-center "
            routerLink="azkar"
            routerLinkActive="m-color"
            aria-current="page"
            ><i class="fa-solid fa-hands-holding fa-2x"></i>
            <span>الأذكار</span>
          </a>
        </li>

        <li class="nav-item mx-3">
          <a
            class="  nav-link active fw-semibold d-flex flex-column align-items-center justify-content-center"
            routerLink="arbeen"
            routerLinkActive="m-color"
            aria-current="page"
            ><i class="fa-solid fa-person-praying fa-2x"></i
            ><span>الأربعين النووية </span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
