


  @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');



  :root ,body{
    direction: rtl;



  [data-theme="dark"]{

  --main-color:#0C8EE1;

  --sec-color:#2A2A2A;

  --dont-active-color:#5A5A5A;

--background-image:url('./assets/dark/DarkBackGround.png');

}


[data-theme="light"]{

--main-color:#1E5A83;

--sec-color:#ffffff;

--dont-active-color:#5A5A5A;

--background-image:url('./assets/background\ 1.png');


}


  }

*{
  font-family: cairo;
}


.m-color{
  color:var(--main-color) !important;
}

.m-bg-color{
  background-color:var(--main-color) !important;
}

.s-color{
  color:var(--sec-color) !important;
}

.s-bg-color{
  background-color:var(--sec-color) !important;
}

.not-active-color{
  color:var(--dont-active-color) !important;
}

.not-active-bg-color{
  background-color:var(--dont-active-color) !important;
}
.border-mainColor{
  border: 3px solid var(--main-color);
}




body {
    margin:0px;
}


body {
  // background-image:url('./assets/background\ 1.png');
background-position: center center;
background-repeat: repeat;
background-size: cover;
background-attachment: fixed;
}

.pointer
{
  cursor: pointer;
}
a{text-decoration: none;}

p{
  line-height: 2;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


h1::selection,h2::selection,h3::selection,h4::selection,h5::selection,h6::selection,span::selection,span::selection
{
background-color:transparent;
}
p::selection{
  background-color: var(--main-color);
  color: var(--sec-color);
}
